KiiniNet.Services.Windows/obj/Debug/KiiniNet.Services.Windows.csproj.FileListAbsolute.txt
KinniNet.Data/obj/Debug/build.force
KinniNet.Business.Utils/obj/Debug/build.force
KiiniNet.UnitTest/obj/Debug/build.force
KiiniNet.Services/obj/Debug/build.force
KiiniNet.Services.Web/obj/Debug/build.force
KiiniMaster/obj/Debug/build.force
KiiniHelp/obj/Debug/build.force
