<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--LOCAL-->
    <!--<add name="connection" connectionString="metadata=res://*/Help.DataBaseModel.csdl|res://*/Help.DataBaseModel.ssdl|res://*/Help.DataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1IQ3G97\DEVELOPMENT;initial catalog=KiiniNet_Desarrollo_v2;user id=sa;password=ecl1103;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--DESARROLLO SERVER-->
    <add name="connection" connectionString="metadata=res://*/Help.DataBaseModel.csdl|res://*/Help.DataBaseModel.ssdl|res://*/Help.DataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CENTRAL-SERVER-\KIININET;initial catalog=Desarrollo_Merge;user id=sa;password=Kiininet.2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--PRUEBAS SERVER-->
    <!--<add name="connection" connectionString="metadata=res://*/Help.DataBaseModel.csdl|res://*/Help.DataBaseModel.ssdl|res://*/Help.DataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CENTRAL-SERVER-\KIININET;initial catalog=KiiniNet_Pruebas;user id=sa;password=Kiininet.2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--PRODUCCION SERVER-->
    <!--<add name="connection" connectionString="metadata=res://*/Help.DataBaseModel.csdl|res://*/Help.DataBaseModel.ssdl|res://*/Help.DataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CENTRAL-SERVER-\KIININET;initial catalog=KiiniNet_Produccion;user id=sa;password=Kiininet.2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="ArchivoNotificaciones" value="C:\Users\Win 10\Documents\GitHub\KiiniHelp\Xml\Notificaciones.xml"/>
    <add key="siteUrl" value="http://localhost:2802"/>
    <add key="Repositorio" value="C:\Users\Eduardo Cerritos\Desktop\Repositorio\"/>
    <add key="RepositorioInfomracionConsultas" value="InformacionConsultas\"/>
    <add key="PathInformacionConsultaHtml" value="C:\Users\Eduardo Cerritos\Desktop\Repo\KiiniHelp\Users\General\"/>
    <add key="CarpetaTemporal" value="tmp\"/>
    <add key="RepositorioCorreos" value="C:\Users\Eduardo Cerritos\Desktop\Repositorio\Inbox\"/>
    <add key="HotmailAccount" value="kiininet3030@hotmail.com"/>
    <add key="HotmailPassword" value="Kiininet2016"/>
    <add key="GmailAccount" value="kiininet3030@gmail.com"/>
    <add key="GmailPassword" value="Kiininet2016"/>
    <add key="YahooAccount" value="kiininet3030@yahoo.com.mx"/>
    <add key="YahooPassword" value="Kiininet2016"/>
    <add key="OtherSmtp" value="smtp.gmail.com"/>
    <add key="OtherPort" value="587"/>
    <add key="OtherAccount" value="kiininet3030@gmail.com"/>
    <add key="OtherPassword" value="Kiininet2016"/>
    <add key="ServicioCorreo" value="1"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="kiininet3030@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="kiininet3030@gmail.com" password="Kiininet2016" defaultCredentials="true"  enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>