<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="connection" connectionString="metadata=res://*/Help.DataBaseModel.csdl|res://*/Help.DataBaseModel.ssdl|res://*/Help.DataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CENTRAL-SERVER-\KIININET;initial catalog=Desarrollo_Paso;user id=sa;password=Kiininet.2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="connection" connectionString="metadata=res://*/Help.DataBaseModel.csdl|res://*/Help.DataBaseModel.ssdl|res://*/Help.DataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=162.212.134.215;initial catalog=Calidad;user id=Kiininet_Calidad;password=#k11n3tC4l1d4d.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="siteUrl" value="http://localhost:2802"/>
    <add key="siteUrlfolder" value=""/>
    <add key="Repositorio" value="C:\Repositorio\"/>
    <add key="RepositorioInfomracionConsultas" value="InformacionConsultas\"/>
    <add key="PathInformacionConsultaHtml" value="C:\Users\Eduardo Cerritos\Desktop\Control Codigo\Git\KiiniHelp\Users\General\"/>
    <add key="CarpetaTemporal" value="tmp\"/>
    <add key="RepositorioMascara" value="RepositorioMascara\" />
    <add key="RepositorioCorreos" value="C:\Repositorio\Inbox\"/>
    <add key="LimiteOperadores" value="10"/>
    <add key="PageSize" value="5"/>
    <add key="ServicioCorreo" value="1"/>
    <add key ="valCatalogo2" value="sa"/>
    <add key ="valCatalogo3" value="Kiininet.2016"/>

    <add key="ColorNPSPromotor" value="#B5E6A1"/>
    <add key="ColorNPSNeutro" value="#80D9FF"/>
    <add key="ColorNPSDetractor" value="#E36F5B"/>

    <add key="ColorEscala0_5" value="#E36F5B"/>
    <add key="ColorEscala6_7" value="#F1B3FF"/>
    <add key="ColorEscala8_9" value="#FFF0B3"/>
    <add key="ColorEscala10" value="#80D9FF"/>

    <add key="ColorValoracionPesimo" value="#E36F5B"/>
    <add key="ColorValoracionMalo" value="#FFF0B3"/>
    <add key="ColorValoracionRegular" value="#BFBFBF"/>
    <add key="ColorValoracionBueno" value="#80D9FF"/>
    <add key="ColorValoracionExcelente" value="#B5E6A1"/>

    <add key="ColorSi" value="#FFF0B3"/>
    <add key="ColorNo" value="#80D9FF"/>

    <add key="ColorLike" value="#B5E6A1"/>
    <add key="ColorDontLike" value="#E36F5B"/>
    <add key="valuesIgnored" value="no,auto-generated,auto-replied,auto-notified,DR,NDR,RN,NRN,OOF,AutoReply,all,None,list,bulk,junk"/>
    <add key="AutoSubmittedvalues" value="no,auto-generated,auto-replied,auto-notified"/>
    <add key="XAutoResponseSuppress" value="DR,NDR,RN,NRN,OOF,AutoReply,all,None"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="desarrollo@kiininetcxp.com" >
        <network host="kiininetcxp.com"  port="143" targetName="25" userName="desarrollo@kiininetcxp.com" password="ecl1103" defaultCredentials="true"  enableSsl="false"/>
      </smtp>
    </mailSettings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
