<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--LOCAL-->
    <!--<add name="connection" connectionString="metadata=res://*/Help.DataBaseModel.csdl|res://*/Help.DataBaseModel.ssdl|res://*/Help.DataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1IQ3G97\DEVELOPMENT;initial catalog=KiiniNet_Desarrollo_v2;user id=sa;password=ecl1103;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--DESARROLLO SERVER--><!--PRUEBAS SERVER-->
    <!--<add name="connection" connectionString="metadata=res://*/Help.DataBaseModel.csdl|res://*/Help.DataBaseModel.ssdl|res://*/Help.DataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CENTRAL-SERVER-\KIININET;initial catalog=KiiniNet_Pruebas;user id=sa;password=Kiininet.2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--PRODUCCION SERVER-->
    <!--<add name="connection" connectionString="metadata=res://*/Help.DataBaseModel.csdl|res://*/Help.DataBaseModel.ssdl|res://*/Help.DataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CENTRAL-SERVER-\KIININET;initial catalog=KiiniNet_Produccion;user id=sa;password=Kiininet.2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="connection" connectionString="metadata=res://*/Help.DataBaseModel.csdl|res://*/Help.DataBaseModel.ssdl|res://*/Help.DataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1IQ3G97\DEVELOPMENT;initial catalog=Kiininet_Desarrollo_v3;user id=sa;password=ecl1103;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>